<div class="social-networks-bar">
  <iframe
      src="http://ghbtns.com/github-btn.html?user=huafu&repo=with-style-mixin&type=watch&count=true"
      allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>
  <iframe
      src="//platform.twitter.com/widgets/follow_button.html?screen_name=HuafuGandon"
      style="width: 240px; height: 20px;"
      allowtransparency="true"
      frameborder="0"
      scrolling="no">
  </iframe>
</div>

<h1>with-style-mixin</h1>

<section {{bind-style 'border-width[px] border-style'
    'asInlineBlock:display?inline-block:' 'fontPercent:font-size[%]'}}>
  <pre>
    <code lang="handlebars">
      &lt;section \{{bind-style 'border-width[px] border-style'
        'asInlineBlock:display?inline-block:' 'fontPercent:font-size[%]'}}&gt;...&lt;/section&gt;
    </code>
  </pre>
  <div>
    <label>borderWidth = {{input value=borderWidth}}</label>
    <label>borderStyle = {{input value=borderStyle}}</label>
    <label>fontPercent = {{input value=fontPercent}}</label>
    <label>asInlineBlock = {{input type='checkbox' checked=asInlineBlock}}</label>
  </div>
</section>

<section>
  <pre>
    <code lang="javascript">
import Ember from 'ember';
import WithStyleMixin from 'with-style-mixin/mixins/with-style';

export default Ember.View.extend(WithStyleMixin, {
  styleBindings: [
    'controller.appPaddingTop:padding-top[px]',
    'bgColor:background-color'
  ],

  bgColor: 'inherit',

  // ...
});
    </code>
  </pre>
  <label>appPaddingTop = {{input value=appPaddingTop}}</label>
  <label>view.bgColor = {{input value=view.bgColor}}</label>
</section>
{{outlet}}
